$main-font: 'Roboto', sans-serif;
$main-font-title: 'Montserrat', sans-serif;
$decor-font-title: 'Kaushan Script', cursive;


$palette-primary: #f38181;
$palette-secondary: #fce38a;
$accent-primary: #95e1d3;
$accent-secondary: #eaffd0;
$text-color: #999999;
$title-dark-color: #333333;
$title-lite-color: #ffffff;
$border-color: #e5e5e5;

